// ? @@@@@@@@@@@@@@@@@@@@@@[  example start  ]@@@@@@@@@@@@@@@@@@@@@@
// [data-page-name=example] {
    @include media-breakpoint(basic) {
        .heroSection {
            background-image: url('../img/bg/banner.jpg');
            // width: 100%;
            // height: 100%;
            padding: 100px 0px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgb(0,0,0,0.5);
            }
            & .heroSectionInner {
                position: relative;
                z-index: 2;
                & .bannerContent {
                    & .bannerHeading {
                        color: $white;
                        font-size: 62px;
                        font-weight: 700;
                        text-transform: capitalize;
                        line-height: 1.3;
                        & span {
                            color: $theme1;
                        }
                    }
                    & .bannerText {
                        font-size: 16px;
                    }
                }
                & .bannerContact {
                    box-shadow: 0px 0px 28px -8px #ffffff75;
                    & .bannerContactHeading {
                        font-size: 32px;
                        font-weight: 500;
                        text-transform: capitalize;
                    }
                }
            }
        }

        .aboutUsSection {
            & .aboutUsSectionInner {
                & .aboutUsImg {
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-image: url('../img/bg/circleBg.png');
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                        width: 90%;
                        height: 90%;
                        z-index: -1;
                    }
                    & .aboutUsImg1 {
                        width: 100%;
                        max-width: 305px;
                        position: relative;
                        overflow: hidden;
                        & img {
                            aspect-ratio: 10/10;
                            object-fit: cover;
                            border-radius: 10px;
                        }
                        &::before{
                            position: absolute;
                            top: 0;
                            left: -100%;
                            display: block;
                            content: "";
                            width: 50%;
                            height: 100%;
                            background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
                            transform: skewX(-25deg);
                            transition: all 0.5s ease;
                        }
                        &:hover {
                            &::before {
                                animation: shine 1s;
                                left: 100%;
                            }
                        }
                    }
                }
                & .aboutUsContent {
                    & .aboutUsContentTitle {
                        & .aboutUsContentSubheading {
                            font-size: 18px;
                        }
                        & .aboutUsContentHeading {
                            font-size: 44px;
                            font-weight: 600;
                            line-height: 1.2;
                        }
                    }
                }
                & .aboutUsContentPara {
                    font-size: 16px;
                }
                & .aboutUsContentList {
                    & .aboutUsContentItem {
                        & .aboutUsContentItems {
                            list-style: none;
                            position: relative;
                            padding-bottom: 8px;
                            color: $theme3;
                            font-size: 14px;
                            &::before {
                                content: "";
                                background-color: $theme1;
                                width: 10px;
                                height: 10px;
                                position: absolute;
                                top: 6px;
                                // transform: translate(0,-50%);
                                left: -30px;
                                border-radius: 2px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                color: $white;
                            }
                        }
                    }
                }
            }
        }

        .footer {
            & .footerInner {
                & .logoFooter {
                    width: 100px;
                    & img {
                        aspect-ratio: 10/10;
                        object-fit: cover;
                    }
                }
                & .subtitlefooter {
                    font-size: 14px;
                }
                & .footerLink {
                    & .footerLinkItem {
                        padding: 0;
                        margin: 0;
                        display: flex;
                        & .footerLinkItems {
                            list-style: none;
                            padding-right: 10px;
                            &:last-child {
                                padding-right: 0px;
                            }
                            & .footerNavLink {
                                width: 30px;
                                height: 30px;
                                border-radius: 6px;
                                background-color: $theme1;
                                border: 1px solid $theme1;
                                padding: 6px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                overflow: hidden;
                                transition: all .5s ease-in-out;
                                & img {
                                    aspect-ratio: 10/10;
                                    object-fit: cover;
                                    filter: brightness(100);
                                    
                                }
                                &:hover {
                                    transform: scale(110%);
                                }
                            }
                        }
                    }
                }
                & .footermenu {
                    & .footerHeading {
                        font-size: 22px;
                        font-weight: 500;
                        color: $theme1;
                    }
                    & .footerMenuItem {
                        padding: 0;
                        margin: 0;
                        & .footerMenuList {
                            list-style: none;
                            padding-bottom: 12px;
                            &:last-child {
                                padding-bottom: 0px;
                            }
                            & .footerMenuLink {
                                color: $white;
                                transition: all .5s ease-in-out;
                                display: block;
                                font-size: 14px;
                            }
                            &:hover {
                                & .footerMenuLink {
                                    color: $theme1;
                                    transform: translateX(15px);
                                }
                            }


                        }
                    }
                    & .imagefooter {
                        width: 100%;
                        & img {
                            aspect-ratio: 10/10;
                            object-fit: cover;
                            border-radius: 6px;
                        }
                    }
                    & .footerContactItem {
                        margin: 0;
                        padding: 0;
                        & .footerContactList {
                            list-style: none;
                            padding-bottom: 15px;
                            &:last-child {
                                padding-bottom: 0px;
                            }
                            & .footerContactImg {
                                min-width: 20px;
                                display: flex;
                                margin-right: 10px;
                                height: 20px;
                                & img {
                                    aspect-ratio: 10/10;
                                    object-fit: cover;
                                }
                            }
                            & .footerContactText {
                                font-size: 14px;
                                color: white;
                            }
                        }
                    }
                }
            }
            & .footerCopyright {
                & .copyrighttext {
                    font-size: 16px;
                    & a {

                    }
                }
            }
        }

    }

    // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
    @include media-breakpoint-up(sm) {
        .heroSection {
            &::before {
            }
            & .heroSectionInner {
                & .bannerContent {
                    & .bannerHeading {
                        & span {
                        }
                    }
                    & .bannerText {
                    }
                }
                & .bannerContact {
                    & .bannerContactHeading {
                }
            }
        }
        }

        
        .aboutUsSection {
            & .aboutUsSectionInner {
                & .aboutUsImg {
                    &::before {
                    }
                    & .aboutUsImg1 {
                        & img {
                        }
                        &::before{
                        }
                        &:hover {
                            &::before {
                            }
                        }
                    }
                }
                & .aboutUsContent {
                    & .aboutUsContentTitle {
                        & .aboutUsContentSubheading {
                        }
                        & .aboutUsContentHeading {
                        }
                    }
                }
                & .aboutUsContentPara {
                }
                & .aboutUsContentList {
                    & .aboutUsContentItem {
                        & .aboutUsContentItems {
                            &::before {
                            }
                        }
                    }
                }
            }
        }

        .footer {
            & .footerInner {
                & .logoFooter {
                    & img {
                    }
                }
                & .subtitlefooter {
                }
                & .footerLink {
                    & .footerLinkItem {
                        & .footerLinkItems {
                            &:last-child {
                            }
                            & .footerNavLink {
                                & img {
                                    
                                }
                                &:hover {
                                }
                            }
                        }
                    }
                }
                & .footermenu {
                    & .footerHeading {
                    }
                    & .footerMenuItem {
                        & .footerMenuList {
                            &:last-child {
                            }
                            & .footerMenuLink {
                            }
                            &:hover {
                                & .footerMenuLink {
                                }
                            }


                        }
                    }
                    & .imagefooter {
                        & img {
                        }
                    }
                    & .footerContactItem {
                        & .footerContactList {
                            &:last-child {
                            }
                            & .footerContactImg {
                                & img {
                                }
                            }
                            & .footerContactText {
                            }
                        }
                    }
                }
            }
            & .footerCopyright {
                & .copyrighttext {
                    & a {

                    }
                }
            }
        }
    }

    @include media-breakpoint-up(md) {
        .heroSection {
            &::before {
            }
            & .heroSectionInner {
                & .bannerContent {
                    & .bannerHeading {
                        & span {
                        }
                    }
                    & .bannerText {
                    }
                }
                & .bannerContact {
                    & .bannerContactHeading {
                }
            }
        }
        }

        .aboutUsSection {
            & .aboutUsSectionInner {
                & .aboutUsImg {
                    &::before {
                    }
                    & .aboutUsImg1 {
                        & img {
                        }
                        &::before{
                        }
                        &:hover {
                            &::before {
                            }
                        }
                    }
                }
                & .aboutUsContent {
                    & .aboutUsContentTitle {
                        & .aboutUsContentSubheading {
                        }
                        & .aboutUsContentHeading {
                        }
                    }
                }
                & .aboutUsContentPara {
                }
                & .aboutUsContentList {
                    & .aboutUsContentItem {
                        & .aboutUsContentItems {
                            &::before {
                            }
                        }
                    }
                }
            }
        }

        .footer {
            & .footerInner {
                & .logoFooter {
                    & img {
                    }
                }
                & .subtitlefooter {
                }
                & .footerLink {
                    & .footerLinkItem {
                        & .footerLinkItems {
                            &:last-child {
                            }
                            & .footerNavLink {
                                & img {
                                    
                                }
                                &:hover {
                                }
                            }
                        }
                    }
                }
                & .footermenu {
                    & .footerHeading {
                    }
                    & .footerMenuItem {
                        & .footerMenuList {
                            &:last-child {
                            }
                            & .footerMenuLink {
                            }
                            &:hover {
                                & .footerMenuLink {
                                }
                            }


                        }
                    }
                    & .imagefooter {
                        & img {
                        }
                    }
                    & .footerContactItem {
                        & .footerContactList {
                            &:last-child {
                            }
                            & .footerContactImg {
                                & img {
                                }
                            }
                            & .footerContactText {
                            }
                        }
                    }
                }
            }
            & .footerCopyright {
                & .copyrighttext {
                    & a {

                    }
                }
            }
        }
    }

    @include media-breakpoint-up(lg) {
        .heroSection {
            &::before {
            }
            & .heroSectionInner {
                & .bannerContent {
                    & .bannerHeading {
                        & span {
                        }
                    }
                    & .bannerText {
                    }
                }
                & .bannerContact {
                    & .bannerContactHeading {
                }
            }
        }
        }

        .aboutUsSection {
            & .aboutUsSectionInner {
                & .aboutUsImg {
                    &::before {
                    }
                    & .aboutUsImg1 {
                        & img {
                        }
                        &::before{
                        }
                        &:hover {
                            &::before {
                            }
                        }
                    }
                }
                & .aboutUsContent {
                    & .aboutUsContentTitle {
                        & .aboutUsContentSubheading {
                        }
                        & .aboutUsContentHeading {
                        }
                    }
                }
                & .aboutUsContentPara {
                }
                & .aboutUsContentList {
                    & .aboutUsContentItem {
                        & .aboutUsContentItems {
                            &::before {
                            }
                        }
                    }
                }
            }
        }

        .footer {
            & .footerInner {
                & .logoFooter {
                    & img {
                    }
                }
                & .subtitlefooter {
                }
                & .footerLink {
                    & .footerLinkItem {
                        & .footerLinkItems {
                            &:last-child {
                            }
                            & .footerNavLink {
                                & img {
                                    
                                }
                                &:hover {
                                }
                            }
                        }
                    }
                }
                & .footermenu {
                    & .footerHeading {
                    }
                    & .footerMenuItem {
                        & .footerMenuList {
                            &:last-child {
                            }
                            & .footerMenuLink {
                            }
                            &:hover {
                                & .footerMenuLink {
                                }
                            }


                        }
                    }
                    & .imagefooter {
                        & img {
                        }
                    }
                    & .footerContactItem {
                        & .footerContactList {
                            &:last-child {
                            }
                            & .footerContactImg {
                                & img {
                                }
                            }
                            & .footerContactText {
                            }
                        }
                    }
                }
            }
            & .footerCopyright {
                & .copyrighttext {
                    & a {

                    }
                }
            }
        }
    }

    @include media-breakpoint-up(xl) {
        .heroSection {
            &::before {
            }
            & .heroSectionInner {
                & .bannerContent {
                    & .bannerHeading {
                        & span {
                        }
                    }
                    & .bannerText {
                    }
                }
                & .bannerContact {
                    & .bannerContactHeading {
                }
            }
        }
        }

        .aboutUsSection {
            & .aboutUsSectionInner {
                & .aboutUsImg {
                    &::before {
                    }
                    & .aboutUsImg1 {
                        & img {
                        }
                        &::before{
                        }
                        &:hover {
                            &::before {
                            }
                        }
                    }
                }
                & .aboutUsContent {
                    & .aboutUsContentTitle {
                        & .aboutUsContentSubheading {
                        }
                        & .aboutUsContentHeading {
                        }
                    }
                }
                & .aboutUsContentPara {
                }
                & .aboutUsContentList {
                    & .aboutUsContentItem {
                        & .aboutUsContentItems {
                            &::before {
                            }
                        }
                    }
                }
            }
        }

        .footer {
            & .footerInner {
                & .logoFooter {
                    & img {
                    }
                }
                & .subtitlefooter {
                }
                & .footerLink {
                    & .footerLinkItem {
                        & .footerLinkItems {
                            &:last-child {
                            }
                            & .footerNavLink {
                                & img {
                                    
                                }
                                &:hover {
                                }
                            }
                        }
                    }
                }
                & .footermenu {
                    & .footerHeading {
                    }
                    & .footerMenuItem {
                        & .footerMenuList {
                            &:last-child {
                            }
                            & .footerMenuLink {
                            }
                            &:hover {
                                & .footerMenuLink {
                                }
                            }


                        }
                    }
                    & .imagefooter {
                        & img {
                        }
                    }
                    & .footerContactItem {
                        & .footerContactList {
                            &:last-child {
                            }
                            & .footerContactImg {
                                & img {
                                }
                            }
                            & .footerContactText {
                            }
                        }
                    }
                }
            }
            & .footerCopyright {
                & .copyrighttext {
                    & a {

                    }
                }
            }
        }
    }

    @include media-breakpoint-up(xxl) {
        .heroSection {
            &::before {
            }
            & .heroSectionInner {
                & .bannerContent {
                    & .bannerHeading {
                        & span {
                        }
                    }
                    & .bannerText {
                    }
                }
                & .bannerContact {
                    & .bannerContactHeading {
                }
            }
        }
        }

        
        .aboutUsSection {
            & .aboutUsSectionInner {
                & .aboutUsImg {
                    &::before {
                    }
                    & .aboutUsImg1 {
                        & img {
                        }
                        &::before{
                        }
                        &:hover {
                            &::before {
                            }
                        }
                    }
                }
                & .aboutUsContent {
                    & .aboutUsContentTitle {
                        & .aboutUsContentSubheading {
                        }
                        & .aboutUsContentHeading {
                        }
                    }
                }
                & .aboutUsContentPara {
                }
                & .aboutUsContentList {
                    & .aboutUsContentItem {
                        & .aboutUsContentItems {
                            &::before {
                            }
                        }
                    }
                }
            }
        }

        .footer {
            & .footerInner {
                & .logoFooter {
                    & img {
                    }
                }
                & .subtitlefooter {
                }
                & .footerLink {
                    & .footerLinkItem {
                        & .footerLinkItems {
                            &:last-child {
                            }
                            & .footerNavLink {
                                & img {
                                    
                                }
                                &:hover {
                                }
                            }
                        }
                    }
                }
                & .footermenu {
                    & .footerHeading {
                    }
                    & .footerMenuItem {
                        & .footerMenuList {
                            &:last-child {
                            }
                            & .footerMenuLink {
                            }
                            &:hover {
                                & .footerMenuLink {
                                }
                            }


                        }
                    }
                    & .imagefooter {
                        & img {
                        }
                    }
                    & .footerContactItem {
                        & .footerContactList {
                            &:last-child {
                            }
                            & .footerContactImg {
                                & img {
                                }
                            }
                            & .footerContactText {
                            }
                        }
                    }
                }
            }
            & .footerCopyright {
                & .copyrighttext {
                    & a {

                    }
                }
            }
        }
    }


    @include media-breakpoint-down(xxl) {
        .heroSection {
            &::before {
            }
            & .heroSectionInner {
                & .bannerContent {
                    & .bannerHeading {
                        font-size: 50px;
                        & span {
                        }
                    }
                    & .bannerText {
                    }
                }
                & .bannerContact {
                    & .bannerContactHeading {
                }
            }
        }
        }

        
        .aboutUsSection {
            & .aboutUsSectionInner {
                & .aboutUsImg {
                    &::before {
                    }
                    & .aboutUsImg1 {
                        & img {
                        }
                        &::before{
                        }
                        &:hover {
                            &::before {
                            }
                        }
                    }
                }
                & .aboutUsContent {
                    & .aboutUsContentTitle {
                        & .aboutUsContentSubheading {
                        }
                        & .aboutUsContentHeading {
                        }
                    }
                }
                & .aboutUsContentPara {
                }
                & .aboutUsContentList {
                    & .aboutUsContentItem {
                        & .aboutUsContentItems {
                            &::before {
                            }
                        }
                    }
                }
            }
        }

        .footer {
            & .footerInner {
                & .logoFooter {
                    & img {
                    }
                }
                & .subtitlefooter {
                }
                & .footerLink {
                    & .footerLinkItem {
                        & .footerLinkItems {
                            &:last-child {
                            }
                            & .footerNavLink {
                                & img {
                                    
                                }
                                &:hover {
                                }
                            }
                        }
                    }
                }
                & .footermenu {
                    & .footerHeading {
                    }
                    & .footerMenuItem {
                        & .footerMenuList {
                            &:last-child {
                            }
                            & .footerMenuLink {
                            }
                            &:hover {
                                & .footerMenuLink {
                                }
                            }


                        }
                    }
                    & .imagefooter {
                        & img {
                        }
                    }
                    & .footerContactItem {
                        & .footerContactList {
                            &:last-child {
                            }
                            & .footerContactImg {
                                & img {
                                }
                            }
                            & .footerContactText {
                            }
                        }
                    }
                }
            }
            & .footerCopyright {
                & .copyrighttext {
                    & a {

                    }
                }
            }
        }
    }

    @include media-breakpoint-down(xl) {
        .heroSection {
            &::before {
            }
            & .heroSectionInner {
                & .bannerContent {
                    & .bannerHeading {
                        font-size: 40px;
                        & span {
                        }
                    }
                    & .bannerText {
                    }
                }
                & .bannerContact {
                    & .bannerContactHeading {
                        font-size: 28px;
                }
            }
        }
        }

        
        .aboutUsSection {
            & .aboutUsSectionInner {
                & .aboutUsImg {
                    &::before {
                    }
                    & .aboutUsImg1 {
                        & img {
                        }
                        &::before{
                        }
                        &:hover {
                            &::before {
                            }
                        }
                    }
                }
                & .aboutUsContent {
                    & .aboutUsContentTitle {
                        & .aboutUsContentSubheading {
                        }
                        & .aboutUsContentHeading {
                            font-size: 34px;
                        }
                    }
                }
                & .aboutUsContentPara {
                }
                & .aboutUsContentList {
                    & .aboutUsContentItem {
                        & .aboutUsContentItems {
                            &::before {
                            }
                        }
                    }
                }
            }
        }

        .footer {
            & .footerInner {
                & .logoFooter {
                    & img {
                    }
                }
                & .subtitlefooter {
                }
                & .footerLink {
                    & .footerLinkItem {
                        & .footerLinkItems {
                            &:last-child {
                            }
                            & .footerNavLink {
                                & img {
                                    
                                }
                                &:hover {
                                }
                            }
                        }
                    }
                }
                & .footermenu {
                    & .footerHeading {
                    }
                    & .footerMenuItem {
                        & .footerMenuList {
                            &:last-child {
                            }
                            & .footerMenuLink {
                            }
                            &:hover {
                                & .footerMenuLink {
                                }
                            }


                        }
                    }
                    & .imagefooter {
                        & img {
                        }
                    }
                    & .footerContactItem {
                        & .footerContactList {
                            &:last-child {
                            }
                            & .footerContactImg {
                                & img {
                                }
                            }
                            & .footerContactText {
                            }
                        }
                    }
                }
            }
            & .footerCopyright {
                & .copyrighttext {
                    & a {

                    }
                }
            }
        }
    }

    @include media-breakpoint-down(lg) {
        .heroSection {  
            padding: 70px 0px;
            &::before {
            }
            & .heroSectionInner {
                & .bannerContent {
                    & .bannerHeading {
                        font-size: 50px;
                        & span {
                        }
                    }
                    & .bannerText {
                    }
                }
                & .bannerContact {
                    & .bannerContactHeading {
                }
            }
        }
        }

        
        .aboutUsSection {
            & .aboutUsSectionInner {
                & .aboutUsImg {
                    &::before {
                    }
                    & .aboutUsImg1 {
                        & img {
                        }
                        &::before{
                        }
                        &:hover {
                            &::before {
                            }
                        }
                    }
                }
                & .aboutUsContent {
                    & .aboutUsContentTitle {
                        & .aboutUsContentSubheading {
                        }
                        & .aboutUsContentHeading {
                        }
                    }
                }
                & .aboutUsContentPara {
                }
                & .aboutUsContentList {
                    & .aboutUsContentItem {
                        & .aboutUsContentItems {
                            &::before {
                            }
                        }
                    }
                }
            }
        }

        .footer {
            & .footerInner {
                & .logoFooter {
                    & img {
                    }
                }
                & .subtitlefooter {
                }
                & .footerLink {
                    & .footerLinkItem {
                        & .footerLinkItems {
                            &:last-child {
                            }
                            & .footerNavLink {
                                & img {
                                    
                                }
                                &:hover {
                                }
                            }
                        }
                    }
                }
                & .footermenu {
                    & .footerHeading {
                    }
                    & .footerMenuItem {
                        & .footerMenuList {
                            &:last-child {
                            }
                            & .footerMenuLink {
                            }
                            &:hover {
                                & .footerMenuLink {
                                }
                            }


                        }
                    }
                    & .imagefooter {
                        & img {
                        }
                    }
                    & .footerContactItem {
                        & .footerContactList {
                            &:last-child {
                            }
                            & .footerContactImg {
                                & img {
                                }
                            }
                            & .footerContactText {
                            }
                        }
                    }
                }
            }
            & .footerCopyright {
                & .copyrighttext {
                    & a {

                    }
                }
            }
        }
    }

    @include media-breakpoint-down(md) {
        .heroSection {
            padding: 60px 0px;
            &::before {
            }
            & .heroSectionInner {
                & .bannerContent {
                    & .bannerHeading {
                        font-size: 38px;
                        & span {
                        }
                    }
                    & .bannerText {
                        font-size: 14px;
                    }
                }
                & .bannerContact {
                    & .bannerContactHeading {
                }
            }
        }
        }

        
        .aboutUsSection {
            & .aboutUsSectionInner {
                & .aboutUsImg {
                    &::before {
                    }
                    & .aboutUsImg1 {
                        & img {
                        }
                        &::before{
                        }
                        &:hover {
                            &::before {
                            }
                        }
                    }
                }
                & .aboutUsContent {
                    & .aboutUsContentTitle {
                        & .aboutUsContentSubheading {
                            font-size: 16px;
                        }
                        & .aboutUsContentHeading {
                            font-size: 24px;
                        }
                    }
                }
                & .aboutUsContentPara {
                    font-size: 14px;
                }
                & .aboutUsContentList {
                    & .aboutUsContentItem {
                        & .aboutUsContentItems {
                            font-size: 12px;
                            &::before {
                            }
                        }
                    }
                }
            }
        }

        .footer {
            & .footerInner {
                & .logoFooter {
                    & img {
                    }
                }
                & .subtitlefooter {
                }
                & .footerLink {
                    & .footerLinkItem {
                        & .footerLinkItems {
                            &:last-child {
                            }
                            & .footerNavLink {
                                & img {
                                    
                                }
                                &:hover {
                                }
                            }
                        }
                    }
                }
                & .footermenu {
                    & .footerHeading {
                    }
                    & .footerMenuItem {
                        & .footerMenuList {
                            &:last-child {
                            }
                            & .footerMenuLink {
                            }
                            &:hover {
                                & .footerMenuLink {
                                }
                            }


                        }
                    }
                    & .imagefooter {
                        & img {
                        }
                    }
                    & .footerContactItem {
                        & .footerContactList {
                            &:last-child {
                            }
                            & .footerContactImg {
                                & img {
                                }
                            }
                            & .footerContactText {
                            }
                        }
                    }
                }
            }
            & .footerCopyright {
                & .copyrighttext {
                    & a {

                    }
                }
            }
        }
    }

    @include media-breakpoint-down(sm) {
        .heroSection {
            padding: 30px 0px;
            &::before {
            }
            & .heroSectionInner {
                & .bannerContent {
                    & .bannerHeading {
                        font-size: 26px;
                        & span {
                        }
                    }
                    & .bannerText {
                        font-size: 14px;
                    }
                }
                & .bannerContact {
                    & .bannerContactHeading {
                }
            }
        }
        }

        
        .aboutUsSection {
            & .aboutUsSectionInner {
                & .aboutUsImg {
                    &::before {
                    }
                    & .aboutUsImg1 {
                        & img {
                        }
                        &::before{
                        }
                        &:hover {
                            &::before {
                            }
                        }
                    }
                }
                & .aboutUsContent {
                    & .aboutUsContentTitle {
                        & .aboutUsContentSubheading {
                        }
                        & .aboutUsContentHeading {
                            font-size: 22px;
                        }
                    }
                }
                & .aboutUsContentPara {
                }
                & .aboutUsContentList {
                    & .aboutUsContentItem {
                        & .aboutUsContentItems {
                            &::before {
                            }
                        }
                    }
                }
            }
        }

        .footer {
            & .footerInner {
                & .logoFooter {
                    & img {
                    }
                }
                & .subtitlefooter {
                }
                & .footerLink {
                    & .footerLinkItem {
                        & .footerLinkItems {
                            &:last-child {
                            }
                            & .footerNavLink {
                                & img {
                                    
                                }
                                &:hover {
                                }
                            }
                        }
                    }
                }
                & .footermenu {
                    & .footerHeading {
                    }
                    & .footerMenuItem {
                        & .footerMenuList {
                            &:last-child {
                            }
                            & .footerMenuLink {
                            }
                            &:hover {
                                & .footerMenuLink {
                                }
                            }


                        }
                    }
                    & .imagefooter {
                        & img {
                        }
                    }
                    & .footerContactItem {
                        & .footerContactList {
                            &:last-child {
                            }
                            & .footerContactImg {
                                & img {
                                }
                            }
                            & .footerContactText {
                            }
                        }
                    }
                }
            }
            & .footerCopyright {
                & .copyrighttext {
                    & a {

                    }
                }
            }
        }
    }
// }

[data-bs-theme=dark] {
    // & [data-page-name=example] {
        @include dark-media-breakpoint(basic) {
            
        }
        // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
        @include dark-media-breakpoint-up(sm) {
        }
        @include dark-media-breakpoint-up(md) {
        }
        @include dark-media-breakpoint-up(lg) {
        }
        @include dark-media-breakpoint-up(xl) {
        }
        @include dark-media-breakpoint-up(xxl) {
        }
    
    
        @include dark-media-breakpoint-down(xxl) {
        }
        @include dark-media-breakpoint-down(xl) {
        }
        @include dark-media-breakpoint-down(lg) {
        }
        @include dark-media-breakpoint-down(md) {
        }
        @include dark-media-breakpoint-down(sm) {
        }
    // }
}

// ! @@@@@@@@@@@@@@@@@@@@@@[  example start  ]@@@@@@@@@@@@@@@@@@@@@@

@include media-breakpoint(basic) {
}
@include media-breakpoint-down(xxl) {
}
@include media-breakpoint-down(xl) {
}
@include media-breakpoint-down(lg) {
}
@include media-breakpoint-down(md) {
}
@include media-breakpoint-down(sm) {
}